{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-const-assign": "error",
    "no-this-before-super": "error",
    "no-unreachable": "error",
    "no-unused-vars": "warn",
    "constructor-super": "error",
    "valid-typeof": "error",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "max-len": ["error", { "code": 120 }]
  }
}
