.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.darkgreen {
    background-color: darkgreen;
}

.darkblue {
    background-color: darkblue;
}
